body{
  font-family: 'Oxygen', sans-serif;
  //font-family: 'Lato', sans-serif;
  //font-family: 'Raleway', 'Source Sans Pro', sans-serif;
  //font-family: 'Source Sans Pro', sans-serif;
}
$linkColor: #0c39a5;
$defaultFontColor: #4a4a4a;
$lightSeeGreenColor: #20B2AA;
$tealColor: #008080;
$darkCyanColor: #008B8B;
$darkTurquoiseColor: #00CED1;
$darkColor2: #212b40;
$blue: blue;
$black: black;
/**** INTRO *****/
.intro{
  font-family: 'Raleway', 'Oxygen', sans-serif;
  .title{
    font-size: 35px;
    line-height: 3rem;
  }
  .subtitle{
    margin: 3rem 0 !important;
    font-size: 25px;
    max-width: 768px;
    line-height: 2.3rem;
  }
  .learn-more{
    font-weight: 600;
    .btn-learn-more{
      font-size: 25px;
      vertical-align: middle;
    }
  }
}

/**** SKILLS *****/
.skills-content{
  margin-top: -7rem;
  padding: 3rem 1.5rem 5rem 1.5rem;
  .columns{
    padding: 0;
    margin: 0;
      .column{
        padding: 50px 30px;
        border: solid 1px #00000012;
      }
  }
  .list-title{
    font-size: 16px;
    margin-top: 20px;
    font-weight: 600;
    text-transform:uppercase;
  }
  .skills-icon{
    font-size: 40px;
  }
}

/*** MOBILE VIEW ONLY ***/
@media only screen and (max-width: 769px) {
  .skills-content{
    margin-top: -5rem;
  }
}

/***** HEADER *****/
.top-nav-container{
  height: 3.5rem;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 1;
  color: $darkColor2;
  &.show-background{
    background: #222d44b8;
    .btn-burger-menu{
      color: #fff;
    }
  }

  .btn-burger-menu{
    position: absolute;
    right: 1.5rem;
    top: 0;
    font-size:2.5rem;
  }
}
.fade-in {
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   }
   @-webkit-keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
   }
   @keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}


.menu-socials{
  .socials{
    border-top: 3px solid #eee;
    margin-top: 2rem;
    width: 100%;
    padding: 1rem 0;
    .social-item:hover{
      background: white;
      color: black;
    }
    .social-item{
      padding: 15px;
      cursor: pointer;
      border-radius: 3px;
      font-size: 20px;
      color: #fff;
    }
  }
}

/**** TAGS GENERAL ****/
.tags {
  .tag{
    margin: 3px 3px 3px 0;
    background: white;
    color: $blue;
    border: 1px solid $blue;
    font-weight: 600;
  }
}

/***** FOOTER *****/
.contact-container{
  margin-bottom: -5rem;
  z-index: 1;
  *{
    color: #fff;
  }
  .box{
    padding: 2rem 1.5rem;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 0 0 1px #293347;
  }
  .btn-message-me{
    border-color: $darkTurquoiseColor;
    color: #fff;
    background: $darkColor2;;
  }
  .btn-message-me:hover{
    background-color: $darkTurquoiseColor;
    color: #fff;
  }
}
footer{
  padding: 8rem 1.5rem !important;
  .socials{
    padding: 2em;
    .social-item:hover{
      background: white;
      color: $black;
    }
    .social-item{
      cursor: pointer;
      padding: 0.8em 1em;
      margin: 0.2em;
      border: 2px solid rgba(255,255,255,0.3);
      border-radius: 100%;
      font-size: 20px;
    }
  }
}



/**** GENERAL ****/
.shadow{
  &.pink{
      box-shadow: inset 0 -6px 0 rgba(255,74,110,.2)
  }
  &.success{
      box-shadow: inset 0 -6px 0 rgba(35,209,153,.2)
  }
  &.info{
      box-shadow: inset 0 -6px 0 rgba(36,177,209,.2);
  }
  &.warning{
      box-shadow: inset 0 -6px 0 rgba(255,221,87,.2)
  }
  &.danger{
      box-shadow: inset 0 -6px 0 hsl(348, 100%, 61%)
  }
  &.primary{
      box-shadow: inset 0 -6px 0 hsl(171, 100%, 41%)
  }
  &.dark{
      box-shadow: inset 0 -6px 0 hsl(0, 0%, 21%)
  }
  &.purple{
    box-shadow: inset 0 -6px 0 rgba(184,107,255,.2);
  }
}
.is-dark2{
  background: #222d44;
  color: #fff;
}
.hero.is-darkturquoise, .is-darkturquoise{
  background: $darkTurquoiseColor;
  color: #fff;
  a{
    color: #fff;
  }
}
.hero.is-bold.is-darkturquoise{
  background: linear-gradient(141deg, #48d1be 0%, #00CED1 71%, #48D1CC 100%);
  .title, .subtitle{
    color: #fff;
  }
}
.pointer{
  cursor: pointer;
}
.hide{
  display: none;
}
.heading.heading-1{
  font-size: 13px;
}
.btn-up{
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  font-size: 30px;
  cursor: pointer;
  background: #222d44b8;
  padding: 0.5rem 0.75rem;
  z-index: 2;
  color: #fff;
}
.btn-view-all-container{
  position: relative;
  margin: 1rem 0;
  overflow: hidden;

  .button-view-all{
    text-transform: uppercase;
    padding: 0.5rem 0;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: solid 3px $blue;
    //color: $linkColor;
    float: right;
    svg{
        margin-left: 5px;
     }
  }
}

.btn-read-more{
  position: absolute;
  right: 1rem;
  bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  svg{
    margin-left: 8px;
  }
}


/*** MOBILE VIEW ONLY ****/
@media only screen and (max-width: 769px) {
  .btn-view-all-container{
    .button-view-all{
      margin-top: 1rem;
      padding: 0.5rem 1.5rem;
      width: 100%;
      text-align: center;
      border: solid 2px $blue;
      border-radius: 3px;
      background: #fff;
    }
  }
}

.nomargin{
  margin: 0 !important;
}
.mt10{
  margin-top: 10px;
}
.section-container-default{
  border-top: 1px solid #E6ECF8;
}


/**** BURGER MENU ****/
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

$bm-theme:  #1a2234;
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $bm-theme;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: $bm-theme;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: $bm-theme;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;

  .menu-links {
    a {
      display: block;
      color: white;
      font-size: 26px;
      line-height: 2.5rem;
    }
  }
}
/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: #19499659 !important;
}


/**** NPROGRESS ***/
/* Make clicks pass-through */

/* Fancy blur effect */
#nprogress {
  pointer-events: none;
  .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;

    -webkit-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
            transform: rotate(3deg) translate(0px, -4px);
  }
  .bar {
    background: #29d;

    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;

    width: 100%;
    height: 0.5rem;
  }
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent {
  #nprogress {
    .bar {
      position: absolute;
    }
  }
}



/**** ABOUT PAGE ****/
.about-website-section{
  padding: 5rem 1rem;

  .title{
    margin: 0.5rem 0 1.5rem;
  }
  .subtitle{
    margin: 1rem 0 0 !important;
    padding: 1rem 0;
    font-weight: 600;
    border-top: solid 3px #eee;
    max-width: 350px;
  }
}
