@import '../../design/variables.scss';
/**** PROJECTS ****/
.projects-container {
    margin-top: -9rem !important;
    &.career {
        margin-top: -6rem;
    }
    .project-item {
        background: #fff;
        margin: 1rem 0 !important;
        padding: 1rem;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        color: $defaultFontColor;
        position: relative;
        .title {
            font-size: 1.5rem;
            margin: 1rem 0;
        }
        figure {
            padding: 0;
        }
        .content {
            min-height: 120px;
        }
        .tags {
            min-height: 115px;
            border-top: solid 2px #eee;
            margin-top: 1rem;
            padding: 1rem 0;
            .tag {
                margin-bottom: 0 !important;
            }
        }
    }
}

/*** MOBILE VIEW ONLY ****/
@media only screen and (max-width: 769px) {
    /*** project list ***/
    .projects-container {
        margin-top: -5rem;
        .project-item {
            margin: 0 !important;

            .content {
                min-height: 0px;
            }
            .tags {
                min-height: 50px;
            }
        }
    }
    .project-view-container {
        .tags {
            flex-direction: initial !important;
        }
    }
}

.project-view-container {
    .tags {
        flex-direction: column;
        align-items: flex-start;
    }
    .project-info {
        margin: 1rem 0;

        .content {
            margin: 1rem 0;
        }
    }
}
.gallery-lightbox-container {
    .gallery-lightbox-item {
        overflow: hidden;
        border-top: 2px dashed #15759a8a;
        margin: 1.5rem 0;

        .subtitle {
            font-weight: 600;
        }
    }
}
