@import '../../design/index.scss';

/**** BLOG LIST ***/
.blog-list-container{
  background: #f5f5f5;
  margin-top: -5rem;

  .blog-item{
    background: #fff;
    margin: 1rem 0 !important;
    padding: 1rem;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    .blog-image{

      img{
        border-radius: 3px;
        width: 100%;
      }
    }

    .blog-content{

      color: $defaultFontColor;
      min-height: 200px;
      p{
        margin: 1rem 0;
      }
      .title{
        font-size: 22px;
      }
    }
  }
}

/*** MOBILE VIEW ONLY ****/
@media only screen and (max-width: 769px) {
  .blog-list-container{

    .blog-item{
      margin: 0 !important;
    }
  }
}

/*** BLOG VIEW ****/
.blog-view-banner{
  max-height: 75vh;
  position: relative;
  padding-top: 5rem;
  .image{
    width: 100%;
  }
  .info{
    position: absolute;
    bottom: 0;
    padding: 2rem;

    h1, h2{
      color: white;
    }
  }
}

.blog-view-content{
  position: relative;
  background: #fff;
  padding: 1rem 0.5rem;
  .container{
    max-width: 700px;
  }
  figure{
    width: 100% !important;
    margin: 2rem 0;
  }
  img{
    margin: auto;
    border-radius: 3px;
    width: 100%;
  }
  .social-share{
    padding: 1rem 0;

    .level{
      justify-content: initial;
      .level-item{
        max-width: 60px;
        a{
          padding: 0.75rem 1.25rem;
        }
      }
    }

  }

  .back-to-blog{
    margin: 1.5rem 0 0 0.5rem;

    a{
      vertical-align: top;
      text-transform: uppercase;
      font-weight: 600;
      margin: 2rem 0 !important;
      svg{
        margin-right: 8px;
        font-size: 1.5rem;
      }
    }
  }
}



.fb-bg {
	background: #3664A2;
	color: #FFF;
}
.twitter-bg {
	background: #55ACEE;
	color: #FFF;
}
.linkedin-bg {
	background: #0374B3;
	color: #FFF;
}
.google-plus-bg {
	background: #DD4B39;
	color: #FFF;
}
.instagram-bg {
	background: #BC2A8D;
	color: #FFF;
}
