$linkColor: #0c39a5;
$defaultFontColor: #4a4a4a;
$lightSeeGreenColor: #20b2aa;
$tealColor: #008080;
$darkCyanColor: #008b8b;
$darkTurquoiseColor: #00ced1;
$darkColor2: #212b40;
$blue: blue;
$black: black;
